.nav-link {
    color: #c7c5c5;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
  }
  .navbar-toggler-icon{
   
    background-color: orange;
  }
  .nav-link:hover {
    color: orange;
    
  }
  .nav-link:focus,
.nav-link:active {
 
  color: orange;
}
  @media only screen and (max-width: 990px) {
    .nav-item{
    
      text-align: center;
    }
  }